.cardlist {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  padding: 80px 70px 10px;
  width: 100%;
  box-sizing: border-box;
}
.cardlist__container {
  max-width: 1160px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(291px, 1fr));
  gap: 37px 24px;
  margin: 0;
  padding: 0;
}
.cardlist__more-container {
  padding: 50px 0 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cardlist__more-button {
  padding: 0;
  width: 100%;
  height: 36px;
  background: #f9f9f9;
  border-radius: 6px;
  border: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  cursor: pointer;
}
@media screen and (max-width: 1023px) {
  .cardlist {
    padding: 80px 30px 30px;
  }
  .cardlist__container {
    gap: 30px;
  }
}
@media screen and (max-width: 768px) {
  .cardlist {
    padding: 50px 10px 26px;
  }
  .cardlist__container {
    flex-direction: column;
    align-content: center;
    gap: 14px;
  }
}
