.navtab {
  background-color: #000;
  min-height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.navtab__nav {
  display: flex;
  justify-content: space-between;
}
.navtab__link {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  padding-right: 40px;
  text-decoration-line: underline;
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .navtab__link{
    padding-right: 24px;
    font-size: 11px;
  }
}
.navtab__link:last-of-type {
  padding-right: 0;
}
