.header {
  min-height: 74px;
  display: flex;
  justify-content: center;
  padding: 0 70px;
}
.header_theme_light {
  background-color: transparent;
}
.header_theme_dark {
  background-color: #073042;
}
.header__container {
  max-width: 1160px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__contaiter_width_narrow{
  max-width: 396px;
}
.header__logo {
  background-image: url(../../images/logo.svg);
  background-repeat: no-repeat;
  height: 38px;
  width: 38px;
  padding-right: 60px;
}
.header__nav {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
  font-size: 13px;
  line-height: 18px;
}
.header__link {
  text-decoration: none;
  color: #000000;
}
.header__link_theme_dark{
  color: #ffffff;
}
.header__link_inactive {
  font-weight: 400;
}
.header__link_active {
  font-weight: 500;
}
.header__account {
  padding: 0;
  width: 100px;
  height: 32px;
  border-radius: 20px;
  background-color: #f9f9f9;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  text-align: center;
  border: none;
  cursor: pointer;
}
.header__burger {
  display: none;
  background-image: url("../../images/burger.svg");
  border: none;
  height: 44px;
  width: 44px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}
.header__burger_theme_dark {
  background-image: url("../../images/burger-white.svg");
}
.header__sign {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
.header__signup {
  padding-right: 30px;
  color: #ffffff;
  background-color: transparent;
  text-align: center;
  border: none;
  cursor: pointer;
}
.header__signin {
  background: #2be080;
  border-radius: 3px;
  min-width: 76px;
  min-height: 32px;
  border: 0;
  padding: 0;
  cursor: pointer;
}
@media screen and (max-width: 1023px) {
  .header {
    padding: 0 30px;
  }
  .header__nav {
    display: none;
  }
  .header__account {
    display: none;
  }
  .header__burger {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .header {
    padding: 0 14px;
  }
  .header__signup {
    padding-right: 14px;
    font-size: 10px;
  }
  .header__signin {
    min-width: 54px;
    min-height: 24px;
    font-size: 10px;
  }
  .header__burger {
    display: block;
    width: 40px;
    height: 43px;
    background-size: contain;
  }
}
