.aboutme__container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 66px 0 0;
}
@media screen and (max-width: 768px) {
  .aboutme__container {
    flex-direction: column;
    padding: 60px 0 0;
  }
}
.aboutme_photo {
  width: 270px;
  border-radius: 10px;
}
@media screen and (max-width: 1023px) {
  .aboutme_photo {
    width: 255px;
    height: 307px;
    object-fit: cover;
  }
}
@media screen and (max-width: 370px) {
  .aboutme_photo {
    width: 100%;
    height: 352px;
    object-fit: cover;
  }
}
.aboutme__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.aboutme__bio {
  max-width: 600px;
}
@media screen and (max-width: 1023px) {
  .aboutme__bio {
    max-width: 348px;
  }
}
.aboutme__name {
  margin: 0;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
}
@media screen and (max-width: 1023px) {
  .aboutme__name {
    font-size: 40px;
    line-height: 40px;
  }
}
@media screen and (max-width: 768px) {
  .aboutme__name {
    font-size: 30px;
    line-height: 36px;
    padding-top: 40px;
  }
}
.aboutme__sutitle {
  margin: 0;
  padding: 18px 0 26px;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}
@media screen and (max-width: 1023px) {
  .aboutme__sutitle {
    font-size: 12px;
    line-height: 18px;
  }
}
@media screen and (max-width: 768px) {
  .aboutme__sutitle {
    font-size: 11px;
    line-height: 16px;
    padding: 20px 0 20px;
  }
}
.aboutme__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
@media screen and (max-width: 1023px) {
  .aboutme__description {
    font-size: 12px;
    line-height: 18px;
  }
}
@media screen and (max-width: 768px) {
  .aboutme__description {
    font-size: 11px;
    line-height: 16px;
    padding-bottom: 40px;
  }
}
.aboutme__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-decoration: none;
}
